<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879889450331-casnrpc748j4se9inb7m94l9kfgvitkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879889450331-casnrpc748j4se9inb7m94l9kfgvitkc</string>
	<key>API_KEY</key>
	<string>AIzaSyC5C6zf7c8P4NCKDZpxvUdck_RnF7a4LSs</string>
	<key>GCM_SENDER_ID</key>
	<string>879889450331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamed.Auto-Home</string>
	<key>PROJECT_ID</key>
	<string>smarthome-2aa8c</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome-2aa8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879889450331:ios:b3601b0ba79f8f3cc8c67e</string>
	<key>DATABASE_URL</key>
	<string>https://smarthome-2aa8c-default-rtdb.firebaseio.com</string>
</dict>
</plist>